force-app/main/default/flows/Activate_Swim_Lane_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>ActivateAnother_Decision</name>
        <label>ActivateAnother Decision</label>
        <locationX>887</locationX>
        <locationY>448</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ActivateAnotherUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivateUser_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InactiveUser_Screen</targetReference>
            </connector>
            <label>OutcomeIs ActivateAnotherUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanActivate_Decision</name>
        <label>CanActivate Decision</label>
        <locationX>254</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>SwimLaneUser_UpdateRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CommunityUserButNoCommunity</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>User_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_GetRecord.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerCustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_GetRecord.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_GetRecord.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KickboardSettings_GetRecord.Community_Url__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CannotActivate_Screen</targetReference>
            </connector>
            <label>OutcomeIs CommunityUserButNoCommunity</label>
        </rules>
        <rules>
            <name>OutcomeIs_ExternalButNoCommunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KickboardSettings_GetRecord.Guest_Url__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CannotActivate_Screen</targetReference>
            </connector>
            <label>OutcomeIs ExternalButNoCommunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendEmail_Decision</name>
        <label>SendEmail Decision</label>
        <locationX>596</locationX>
        <locationY>702</locationY>
        <defaultConnector>
            <targetReference>ActivateAnotherUser_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_SendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmail_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToUserAction_Subflow</targetReference>
            </connector>
            <label>OutcomeIs SendEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>SwimLaneIsAUser_Decision</name>
        <label>SwimLaneIsAUser Decision</label>
        <locationX>253</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>SendEmail_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_SwimLaneUserIsAUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShareLaneToUser_Subflow</targetReference>
            </connector>
            <label>OutcomeIs SwimLaneUserIsAUser</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>InactiveUsers_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Email__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lane_User__c</object>
        <outputAssignments>
            <assignToReference>SelectedUserId</assignToReference>
            <field>User__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Activate Users {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Activate Swim Lane Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>KickboardSettings_GetRecord</name>
        <label>KickboardSettings GetRecord</label>
        <locationX>377</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CanActivate_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Kickboard_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_GetRecord</name>
        <label>User GetRecord</label>
        <locationX>481</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KickboardSettings_GetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SwimLaneUser_UpdateRecords</name>
        <label>SwimLaneUser UpdateRecords</label>
        <locationX>261</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>SwimLaneIsAUser_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InactiveUserPicklist</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lane_User__c</object>
    </recordUpdates>
    <screens>
        <name>ActivateAnotherUser_Screen</name>
        <label>ActivateAnotherUser Screen</label>
        <locationX>895</locationX>
        <locationY>708</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ActivateAnother_Decision</targetReference>
        </connector>
        <fields>
            <name>ActivateUser_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Activate Another User?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, please</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>I&apos;m done</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CannotActivate_Screen</name>
        <label>CannotActivate Screen</label>
        <locationX>50</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotActivate_DisplayText</name>
            <fieldText>&lt;p&gt;Well... it looks like a community has not been setup for this type of user. Ask your Kickboard Admin if a community can be setup.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InactiveUser_Screen</name>
        <label>InactiveUser Screen</label>
        <locationX>605</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_GetRecord</targetReference>
        </connector>
        <fields>
            <name>InactiveUserPicklist</name>
            <choiceReferences>InactiveUsers_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Users would you like to activate?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SendEmail_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send an email right away?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nope</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CustomMessage_InputText</name>
            <dataType>String</dataType>
            <fieldText>Add a custom message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SendEmail_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>479</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>InactiveUser_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SendEmailToUserAction_Subflow</name>
        <label>SendEmailToUserAction Subflow</label>
        <locationX>608</locationX>
        <locationY>824</locationY>
        <connector>
            <targetReference>ActivateAnotherUser_Screen</targetReference>
        </connector>
        <flowName>Send_Email_to_User_Action</flowName>
        <inputAssignments>
            <name>customMessage</name>
            <value>
                <elementReference>CustomMessage_InputText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>InactiveUserPicklist</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ShareLaneToUser_Subflow</name>
        <label>ShareLaneToUser Subflow</label>
        <locationX>263</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>SendEmail_Decision</targetReference>
        </connector>
        <flowName>Share_Lane_to_User</flowName>
        <inputAssignments>
            <name>laneId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>SelectedUserId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
