force-app/main/default/flows/Activate_Swim_Lane_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>ActivateAnother_Decision</name>
        <label>ActivateAnother Decision</label>
        <locationX>455</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ActivateAnotherUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InactiveUsers_RecordChoiceSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>abc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InactiveUser_Screen</targetReference>
            </connector>
            <label>OutcomeIs ActivateAnotherUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendEmail_Decision</name>
        <label>SendEmail Decision</label>
        <locationX>167</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>ActivateAnotherUser_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_SendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmail_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToUserAction_Subflow</targetReference>
            </connector>
            <label>OutcomeIs SendEmail</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>InactiveUsers_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Email__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lane_User__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Activate Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Swim Lane Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>SwimLaneUser_UpdateRecords</name>
        <label>SwimLaneUser UpdateRecords</label>
        <locationX>174</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>SendEmail_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InactiveUserPicklist</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lane_User__c</object>
    </recordUpdates>
    <screens>
        <name>ActivateAnotherUser_Screen</name>
        <label>ActivateAnotherUser Screen</label>
        <locationX>318</locationX>
        <locationY>625</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ActivateAnother_Decision</targetReference>
        </connector>
        <fields>
            <name>ActivateUser_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Activate Another User?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, please</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>I&apos;m done</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InactiveUser_Screen</name>
        <label>InactiveUser Screen</label>
        <locationX>171</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SwimLaneUser_UpdateRecords</targetReference>
        </connector>
        <fields>
            <name>InactiveUserPicklist</name>
            <choiceReferences>InactiveUsers_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Users would you like to activate?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SendEmail_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send an email right away?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nope</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CustomMessage_InputText</name>
            <dataType>String</dataType>
            <fieldText>Add a custom message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SendEmail_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>InactiveUser_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SendEmailToUserAction_Subflow</name>
        <label>SendEmailToUserAction Subflow</label>
        <locationX>179</locationX>
        <locationY>625</locationY>
        <connector>
            <targetReference>ActivateAnotherUser_Screen</targetReference>
        </connector>
        <flowName>Send_Email_to_User_Action</flowName>
        <inputAssignments>
            <name>customMessage</name>
            <value>
                <elementReference>CustomMessage_InputText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>InactiveUserPicklist</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
