force-app/main/default/flows/Add_Cards_From_Another_Board.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <isTemplate>true</isTemplate>
    <assignments>
        <name>CardNew_Assignment</name>
        <label>CardNew Assignment</label>
        <locationX>440</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>CardNew_Record.Board__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToBoard_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNew_Record.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNew_Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNew_Record.Consensus_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.Consensus_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNew_Record.Intent_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.Intent_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNew_Record.X_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.X_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNew_Record.Y_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.Y_Position__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CardRecordCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CardRecordCollection_Assignment</name>
        <label>CardRecordCollection Assignment</label>
        <locationX>550</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>CardNew_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CardNew_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Card_Loop</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>FromBoard_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SwimLane_Lookup.recordId</elementReference>
            </value>
        </filters>
        <object>Board__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ToBoard_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Board__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Cards From Another Board {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Cards From Another Board</label>
    <loops>
        <name>Card_Loop</name>
        <label>Card Loop</label>
        <locationX>313</locationX>
        <locationY>510</locationY>
        <collectionReference>Cards_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CardNew_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CardNew_CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CardNew_CreateRecords</name>
        <label>CardNew CreateRecords</label>
        <locationX>313</locationX>
        <locationY>661</locationY>
        <inputReference>CardNew_RecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Cards_GetRecords</name>
        <label>Cards GetRecords</label>
        <locationX>175</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Card_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FromBoard_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SelectBoard_Screen</name>
        <label>SelectBoard Screen</label>
        <locationX>175</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cards_GetRecords</targetReference>
        </connector>
        <fields>
            <name>FromBoard_Picklist</name>
            <choiceReferences>FromBoard_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Board do you want to copy cards from?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ToBoard_Picklist</name>
            <choiceReferences>ToBoard_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Board do you want to copy cards to?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectSwimLane_Screen</name>
        <label>SelectSwimLane Screen</label>
        <locationX>176</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectBoard_Screen</targetReference>
        </connector>
        <fields>
            <name>SwimLane_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>kickboard__Lane__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Which Swim Lane do you want use?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>kickboard__Board__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SelectSwimLane_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CardNew_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Card__c</objectType>
    </variables>
    <variables>
        <name>CardNew_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Card__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
