force-app/main/default/flows/Add_Board_From_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <isTemplate>true</isTemplate>
    <assignments>
        <name>BoardNew_Assignment</name>
        <label>BoardNew Assignment</label>
        <locationX>620</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>BoardNew.Background_Image__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Background_Image__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Design_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Design_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Lane__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Objective__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Prerequisites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Prerequisites__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Order__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CategoryMappings_GetRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BoardNewOrder_Assignment</name>
        <label>BoardNewOrder Assignment</label>
        <locationX>525</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>BoardNew.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastBoardInLane_GetRecords.Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoardNew_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BoardNewOrderIsFirst_Assignment</name>
        <label>BoardNewOrderIsFirst Assignment</label>
        <locationX>524</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>BoardNew.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoardNew_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>LastBoardInLaneIsNull_Decision</name>
        <label>LastBoardInLaneIsNull Decision</label>
        <locationX>412</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>BoardNewOrder_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_LastBoardInLaneIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastBoardInLane_GetRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BoardNewOrderIsFirst_Assignment</targetReference>
            </connector>
            <label>OutcomeIs LastBoardInLaneIsNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Board_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lane_Picklist</elementReference>
            </value>
        </filters>
        <object>Board__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LaneTemplate_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lane__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Board From Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Board From Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Board_GetRecord</name>
        <label>Board GetRecord</label>
        <locationX>178</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LastBoardInLane_GetRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Card_GetRecords</name>
        <label>Card GetRecords</label>
        <locationX>866</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddABoardToSwimLane_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board_GetRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CategoryMappings_GetRecords</name>
        <label>CategoryMappings GetRecords</label>
        <locationX>741</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Card_GetRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board_GetRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Category_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LastBoardInLane_GetRecords</name>
        <label>LastBoardInLane GetRecords</label>
        <locationX>305</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LastBoardInLaneIsNull_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Board__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Board_Screen</name>
        <label>Board Screen</label>
        <locationX>177</locationX>
        <locationY>318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Board_GetRecord</targetReference>
        </connector>
        <fields>
            <name>Board_Picklist</name>
            <choiceReferences>Board_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Board to Clone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lane_Screen</name>
        <label>Lane Screen</label>
        <locationX>176</locationX>
        <locationY>185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Board_Screen</targetReference>
        </connector>
        <fields>
            <name>Lane_Picklist</name>
            <choiceReferences>LaneTemplate_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Swim Lane Template to Clone a Board From</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lane_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AddABoardToSwimLane_Subflow</name>
        <label>AddABoardToSwimLane Subflow</label>
        <locationX>1016</locationX>
        <locationY>445</locationY>
        <flowName>Add_A_Board_to_Swim_Lane</flowName>
        <inputAssignments>
            <name>Board</name>
            <value>
                <elementReference>BoardNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Cards</name>
            <value>
                <elementReference>Card_GetRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CategoryMappings</name>
            <value>
                <elementReference>CategoryMappings_GetRecords</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BoardNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Board__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
