force-app/main/default/flows/Add_User_to_Swim_Lane.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>NewUserRecordIdExternal_Assignment</name>
        <label>NewUserRecordIdExternal Assignment</label>
        <locationX>815</locationX>
        <locationY>1065</locationY>
        <assignmentItems>
            <assignToReference>NewUserRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalLaneUser_CreateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewUserRecordIdInternal_Assignment</name>
        <label>NewUserRecordIdInternal Assignment</label>
        <locationX>1301</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>NewUserRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalLaneUser_CreateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ActivateUser_Decision</name>
        <label>ActivateUser Decision</label>
        <locationX>1293</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>NewUserRecordIdInternal_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ActivateUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AutomaticallyActivate_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShareLaneToUser_Subflow</targetReference>
            </connector>
            <label>OutcomeIs ActivateUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>AddAnotherUser_Decision</name>
        <label>AddAnotherUser Decision</label>
        <locationX>1549</locationX>
        <locationY>228</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_AddAnotherUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddAnotherUser_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Screen</targetReference>
            </connector>
            <label>OutcomeIs AddAnotherUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExternalUserDoesNotExist_Decision</name>
        <label>ExternalUserDoesNotExist Decision</label>
        <locationX>608</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>InternalUserExists_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ExternalUserDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExternalLaneUser_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExternalLaneUser_CreateRecord</targetReference>
            </connector>
            <label>OutcomeIs ExternalUserDoesNotExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_Decision</name>
        <label>Internal Decision</label>
        <locationX>279</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>ExternalEmail_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Internal_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InternalUser_Screen</targetReference>
            </connector>
            <label>OutcomeIs Internal</label>
        </rules>
        <rules>
            <name>OutcomeIs_ExternalButNotPublic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Internal_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lane_GetRecord.Is_Public__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SwimLaneNotPublic_Screen</targetReference>
            </connector>
            <label>OutcomeIs ExternalButNotPublic</label>
        </rules>
    </decisions>
    <decisions>
        <name>InternalUserDoesNotExist_Decision</name>
        <label>InternalUserDoesNotExist Decision</label>
        <locationX>1108</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>InternalUserExists_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_InternalUserDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalLaneUser_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InternalLaneUser_CreateRecord</targetReference>
            </connector>
            <label>OutcomeIs InternalUserDoesNotExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendEmail_Decision</name>
        <label>SendEmail Decision</label>
        <locationX>1082</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>AddAnotherUser_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_SendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AutomaticallyActivate_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToUserAction_Subflow</targetReference>
            </connector>
            <label>OutcomeIs SendEmail</label>
        </rules>
    </decisions>
    <interviewLabel>Add User to Swim Lane {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Add User to Swim Lane</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ExternalLaneUser_CreateRecord</name>
        <label>ExternalLaneUser CreateRecord</label>
        <locationX>620</locationX>
        <locationY>1066</locationY>
        <connector>
            <targetReference>NewUserRecordIdExternal_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>External_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <elementReference>AutomaticallyActivate_Toggle.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lane__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>InternalLaneUser_CreateRecord</name>
        <label>InternalLaneUser CreateRecord</label>
        <locationX>1301</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>ActivateUser_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>User_GetRecord.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <elementReference>AutomaticallyActivate_Toggle.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lane__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>User_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ExternalLaneUser_GetRecord</name>
        <label>ExternalLaneUser GetRecord</label>
        <locationX>473</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExternalUserDoesNotExist_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>External_Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InternalLaneUser_GetRecord</name>
        <label>InternalLaneUser GetRecord</label>
        <locationX>862</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InternalUserDoesNotExist_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lane_GetRecord</name>
        <label>Lane GetRecord</label>
        <locationX>287</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Internal_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_GetRecord</name>
        <label>User GetRecord</label>
        <locationX>553</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignKickboardUserPermissionSet_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AddAnotherUser_Screen</name>
        <label>AddAnotherUser Screen</label>
        <locationX>1558</locationX>
        <locationY>1165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddAnotherUser_Decision</targetReference>
        </connector>
        <fields>
            <name>AddAnotherUser_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Another User to Swim Lane?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, please</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nope, I&apos;m done</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ExternalEmail_Screen</name>
        <label>ExternalEmail_Screen</label>
        <locationX>286</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ExternalLaneUser_GetRecord</targetReference>
        </connector>
        <fields>
            <name>External_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Internal_Screen</name>
        <label>Internal Screen</label>
        <locationX>287</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lane_GetRecord</targetReference>
        </connector>
        <fields>
            <name>Internal_DisplayText</name>
            <fieldText>&lt;p&gt;You can invite internal or external collaborator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When inviting someone internal, they will be directed to the record and given read sharing access to the Swim Lane.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;External collaborators will be directed to a public facing site (if set) and have to enter their email address and code assigned to swim lane.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When you activate the user, they will be sent an email to the swim lane. If you want to activate later, leave the toggle off.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Internal_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this an internal collaborator?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yup!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nope, external.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AutomaticallyActivate_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to automatically activate and send email?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes please</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>I will do it later.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CustomMessage_InputText</name>
            <dataType>String</dataType>
            <fieldText>Add a custom message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AutomaticallyActivate_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InternalUser_Screen</name>
        <label>InternalUser Screen</label>
        <locationX>440</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_GetRecord</targetReference>
        </connector>
        <fields>
            <name>User_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InternalUserExists_Screen</name>
        <label>InternalUserExists Screen</label>
        <locationX>1119</locationX>
        <locationY>886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InternalUserExists_DisplayText</name>
            <fieldText>&lt;p&gt;Well, well, well... it looks like this user is already in the swimming in the lane with you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>pause2</name>
        <label>pause2</label>
        <locationX>751</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InternalLaneUser_GetRecord</targetReference>
        </connector>
        <fields>
            <name>AddToSwimLane_DisplayText</name>
            <fieldText>&lt;p&gt;Ok, we&apos;ve made sure that user has permissions to view Kickboard. Now, we will add the user to this Swim Lane. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SwimLaneNotPublic_Screen</name>
        <label>SwimLaneNotPublic Screen</label>
        <locationX>50</locationX>
        <locationY>543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SwimLaneNotPublic_DisplayText</name>
            <fieldText>&lt;p&gt;Uh oh... this Swim Lane is not marked public. That means an external collaborator will not be able to access. Mark it public and try adding afterwards.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>161</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Internal_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AssignKickboardUserPermissionSet_Subflow</name>
        <label>AssignKickboardUserPermissionSet Subflow</label>
        <locationX>656</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>pause2</targetReference>
        </connector>
        <flowName>Assign_Kickboard_User_Permission_Set</flowName>
        <inputAssignments>
            <name>assigneeId</name>
            <value>
                <elementReference>User_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SendEmailToUserAction_Subflow</name>
        <label>SendEmailToUserAction Subflow</label>
        <locationX>1089</locationX>
        <locationY>1241</locationY>
        <connector>
            <targetReference>AddAnotherUser_Screen</targetReference>
        </connector>
        <flowName>Send_Email_to_User_Action</flowName>
        <inputAssignments>
            <name>customMessage</name>
            <value>
                <elementReference>CustomMessage_InputText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>NewUserRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ShareLaneToUser_Subflow</name>
        <label>ShareLaneToUser Subflow</label>
        <locationX>1444</locationX>
        <locationY>784</locationY>
        <connector>
            <targetReference>NewUserRecordIdInternal_Assignment</targetReference>
        </connector>
        <flowName>Share_Lane_to_User</flowName>
        <inputAssignments>
            <name>laneId</name>
            <value>
                <elementReference>Lane_GetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>User_GetRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>NewUserRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
