force-app/main/default/flows/Add_A_Board_to_Swim_Lane.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AddCategoryMappingsToCollection_Assignment</name>
        <label>AddCategoryMappingsToCollection Assignment</label>
        <locationX>583</locationX>
        <locationY>832</locationY>
        <assignmentItems>
            <assignToReference>CategoryMappingsNew_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CategoryMapping_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CategoryMapping_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BoardsAfter_Assignment</name>
        <label>BoardsAfter Assignment</label>
        <locationX>390</locationX>
        <locationY>1160</locationY>
        <assignmentItems>
            <assignToReference>BoardsAfter_Loop.Order__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoardsAfterRecordCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BoardsAfterRecordCollection_Assignment</name>
        <label>BoardsAfterRecordCollection Assignment</label>
        <locationX>575</locationX>
        <locationY>1275</locationY>
        <assignmentItems>
            <assignToReference>BoardsAfter_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BoardsAfter_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoardsAfter_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cards_Assignment</name>
        <label>Cards Assignment</label>
        <locationX>396</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>Cards_Loop.Board__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CardsAddToCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CardsAddToCollection_Assignment</name>
        <label>CardsAddToCollection Assignment</label>
        <locationX>583</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>CardsNew_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cards_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cards_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CategoryMapping_Assignment</name>
        <label>CategoryMapping Assignment</label>
        <locationX>401</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>CategoryMapping_Loop.Board__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCategoryMappingsToCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Add A Board to Swim Lane {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add A Board to Swim Lane</label>
    <loops>
        <name>BoardsAfter_Loop</name>
        <label>BoardsAfter Loop</label>
        <locationX>181</locationX>
        <locationY>1275</locationY>
        <collectionReference>BoardsAfter_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BoardsAfter_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BoardsAfter_UpdateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Cards_Loop</name>
        <label>Cards Loop</label>
        <locationX>179</locationX>
        <locationY>623</locationY>
        <collectionReference>Cards</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cards_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CategoryMapping_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CategoryMapping_Loop</name>
        <label>CategoryMapping Loop</label>
        <locationX>180</locationX>
        <locationY>832</locationY>
        <collectionReference>CategoryMappings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CategoryMapping_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cards_CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Board_CreateRecord</name>
        <label>Board CreateRecord</label>
        <locationX>179</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>Cards_Loop</targetReference>
        </connector>
        <inputReference>Board</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Cards_CreateRecords</name>
        <label>Cards CreateRecords</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>CategoryMappings_CreateRecords</targetReference>
        </connector>
        <inputReference>CardsNew_RecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CategoryMappings_CreateRecords</name>
        <label>CategoryMappings CreateRecords</label>
        <locationX>180</locationX>
        <locationY>1122</locationY>
        <connector>
            <targetReference>BoardsAfter_Loop</targetReference>
        </connector>
        <inputReference>CategoryMappingsNew_RecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>BoardsAfter_GetRecords</name>
        <label>BoardsAfter GetRecords</label>
        <locationX>176</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Board_CreateRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board.Lane__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Board.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BoardsAfter_UpdateRecords</name>
        <label>BoardsAfter UpdateRecords</label>
        <locationX>180</locationX>
        <locationY>1419</locationY>
        <inputReference>BoardsAfter_RecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>BoardsAfter_GetRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Board</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Board__c</objectType>
    </variables>
    <variables>
        <name>BoardsAfter_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Board__c</objectType>
    </variables>
    <variables>
        <name>Cards</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Card__c</objectType>
    </variables>
    <variables>
        <name>CardsNew_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Card__c</objectType>
    </variables>
    <variables>
        <name>CategoryMappings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Category_Mapping__c</objectType>
    </variables>
    <variables>
        <name>CategoryMappingsNew_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Category_Mapping__c</objectType>
    </variables>
</Flow>
