force-app/main/default/flows/Add_User_to_Swim_Lane.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>ExternalUserDoesNotExist_Decision</name>
        <label>ExternalUserDoesNotExist Decision</label>
        <locationX>497</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>InternalUserExists_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ExternalUserDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExternalLaneUser_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExternalLaneUser_CreateRecord</targetReference>
            </connector>
            <label>OutcomeIs ExternalUserDoesNotExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_Decision</name>
        <label>Internal Decision</label>
        <locationX>168</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>ExternalEmail_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Internal_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InternalUser_Screen</targetReference>
            </connector>
            <label>OutcomeIs Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>InternalUserDoesNotExist_Decision</name>
        <label>InternalUserDoesNotExist Decision</label>
        <locationX>879</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>InternalUserExists_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_InternalUserDoesNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalLaneUser_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InternalLaneUser_CreateRecords</targetReference>
            </connector>
            <label>OutcomeIs InternalUserDoesNotExist</label>
        </rules>
    </decisions>
    <interviewLabel>Add User to Swim Lane {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add User to Swim Lane</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ExternalLaneUser_CreateRecord</name>
        <label>ExternalLaneUser CreateRecord</label>
        <locationX>643</locationX>
        <locationY>482</locationY>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>External_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <elementReference>AutomaticallyActivate_Toggle.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lane__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>InternalLaneUser_CreateRecords</name>
        <label>InternalLaneUser CreateRecords</label>
        <locationX>1070</locationX>
        <locationY>333</locationY>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <elementReference>AutomaticallyActivate_Toggle.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lane__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>User_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ExternalLaneUser_GetRecord</name>
        <label>ExternalLaneUser GetRecord</label>
        <locationX>362</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExternalUserDoesNotExist_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>External_Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InternalLaneUser_GetRecord</name>
        <label>InternalLaneUser GetRecord</label>
        <locationX>751</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InternalUserDoesNotExist_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ExternalEmail_Screen</name>
        <label>ExternalEmail_Screen</label>
        <locationX>175</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ExternalLaneUser_GetRecord</targetReference>
        </connector>
        <fields>
            <name>External_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Internal_Screen</name>
        <label>Internal Screen</label>
        <locationX>176</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Internal_Decision</targetReference>
        </connector>
        <fields>
            <name>Internal_DisplayText</name>
            <fieldText>&lt;p&gt;You can invite internal or external collaborator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When inviting someone internal, they will be directed to the record and given read sharing access to the Swim Lane.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;External collaborators will be directed to a public facing site (if set) and have to enter their email address and code assigned to swim lane.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;When you activate the user, they will be sent an email to the swim lane. If you want to activate later, leave the toggle off.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Internal_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this an internal collaborator?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yup!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nope, external.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AutomaticallyActivate_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to automatically activate them?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes please</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>I will do it later.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InternalUser_Screen</name>
        <label>InternalUser Screen</label>
        <locationX>368</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignKickboardUserPermissionSet_Subflow</targetReference>
        </connector>
        <fields>
            <name>User_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lane_User__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InternalUserExists_Screen</name>
        <label>InternalUserExists Screen</label>
        <locationX>891</locationX>
        <locationY>651</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InternalUserExists_DisplayText</name>
            <fieldText>&lt;p&gt;Well, well, well... it looks like this user is already in the swimming in the lane with you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>pause2</name>
        <label>pause2</label>
        <locationX>640</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InternalLaneUser_GetRecord</targetReference>
        </connector>
        <fields>
            <name>AddToSwimLane_DisplayText</name>
            <fieldText>&lt;p&gt;Ok, we&apos;ve made sure that user has permissions to view Kickboard. Now, we will add the user to this Swim Lane. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Internal_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AssignKickboardUserPermissionSet_Subflow</name>
        <label>AssignKickboardUserPermissionSet Subflow</label>
        <locationX>507</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>pause2</targetReference>
        </connector>
        <flowName>Assign_Kickboard_User_Permission_Set</flowName>
        <inputAssignments>
            <name>assigneeId</name>
            <value>
                <elementReference>User_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
