force-app/main/default/flows/Board_Category_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddCardToCollection_Assignment</name>
        <label>AddCardToCollection Assignment</label>
        <locationX>754</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>CardUpdate_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Card_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Card_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CardCategory_Assignment</name>
        <label>CardCategory Assignment</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Card_Loop.Intent_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryMapping_Loop.Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CategoryMapping_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CardConcensusCategory_Assignment</name>
        <label>CardConcensusCategory Assignment</label>
        <locationX>1106</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Card_Loop.Consensus_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryMapping_Loop.Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CategoryMapping_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CategoryMapping_Assignment</name>
        <label>CategoryMapping Assignment</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CategoryMapping_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CategoryMappings_GetRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Card_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ManualCategory_Assignment</name>
        <label>ManualCategory Assignment</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Card_Loop.Intent_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Category_InputText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Card_Loop.Consensus_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcensusCategory_InputText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCardToCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ParentCategoryMapping_Assignment</name>
        <label>ParentCategoryMapping Assignment</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CategoryMapping_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentCategoryMapping_GetRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Card_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AutomaticallyCategorize_Decision</name>
        <label>AutomaticallyCategorize Decision</label>
        <locationX>754</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>CardCategory_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_AutomaticallyCatgorize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AutomateCategorization_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCardToCollection_Assignment</targetReference>
            </connector>
            <label>OutcomeIs AutomaticallyCatgorize</label>
        </rules>
    </decisions>
    <decisions>
        <name>CardInBoundingBox_Decision</name>
        <label>CardInBoundingBox Decision</label>
        <locationX>1040</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>CardInColor_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CardIsInBoundingBox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Card_Loop.X_Position__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CategoryMapping_Loop.Min_X_Position__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Card_Loop.X_Position__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CategoryMapping_Loop.Max_X_Position__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Card_Loop.Y_Position__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CategoryMapping_Loop.Min_Y_Position__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Card_Loop.Y_Position__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CategoryMapping_Loop.Max_Y_Position__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CategoryMapping_Loop.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bounding Box</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CardCategory_Assignment</targetReference>
            </connector>
            <label>OutcomeIs CardIsInBoundingBox</label>
        </rules>
    </decisions>
    <decisions>
        <name>CardInColor_Decision</name>
        <label>CardInColor Decision</label>
        <locationX>1238</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>CategoryMapping_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CategoryIsColor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CategoryMapping_Loop.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Color</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Card_Loop.Color__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CategoryMapping_Loop.Color__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CardConcensusCategory_Assignment</targetReference>
            </connector>
            <label>OutcomeIs CategoryIsColor</label>
        </rules>
    </decisions>
    <decisions>
        <name>CategoryMappings_Decision</name>
        <label>CategoryMappings Decision</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>CategoryMapping_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_NoCategoriesAndHasTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CategoryMappings_GetRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Board_GetRecord.Board_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParentCategoryMapping_GetRecords</targetReference>
            </connector>
            <label>OutcomeIs NoCategoriesAndHasTemplate</label>
        </rules>
    </decisions>
    <interviewLabel>Board Category Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Board Category Mapping</label>
    <loops>
        <name>Card_Loop</name>
        <label>Card Loop</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <collectionReference>Card_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CategoryMapping_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cards_UpdateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CategoryMapping_Loop</name>
        <label>CategoryMapping Loop</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <collectionReference>CategoryMapping_RecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CardInBoundingBox_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AutomaticallyCategorize_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Board_GetRecord</name>
        <label>Board GetRecord</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Card_GetRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Card_GetRecords</name>
        <label>Card GetRecords</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CategoryMappings_GetRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board_GetRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CategoryMappings_GetRecords</name>
        <label>CategoryMappings GetRecords</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CategoryMappings_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board_GetRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Category_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ParentCategoryMapping_GetRecords</name>
        <label>ParentCategoryMapping GetRecords</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ParentCategoryMapping_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board_GetRecord.Board_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Category_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cards_UpdateRecords</name>
        <label>Cards UpdateRecords</label>
        <locationX>182</locationX>
        <locationY>2654</locationY>
        <inputReference>CardUpdate_RecordCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>CardCategory_Screen</name>
        <label>CardCategory Screen</label>
        <locationX>842</locationX>
        <locationY>2102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ManualCategory_Assignment</targetReference>
        </connector>
        <fields>
            <name>CardDetails_DisplayText</name>
            <fieldText>&lt;p&gt;{!Card_Loop.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Category_InputText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Card_Loop.Intent_Category__c</elementReference>
            </defaultValue>
            <fieldText>Intent Category</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConcensusCategory_InputText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Card_Loop.Consensus_Category__c</elementReference>
            </defaultValue>
            <fieldText>Concensus Category</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Introduction_Screen</name>
        <label>Introduction Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Board_GetRecord</targetReference>
        </connector>
        <fields>
            <name>Introduction_DisplayText</name>
            <fieldText>&lt;p&gt;This will categorize cards based on position in relation to background image and color.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AutomateCategorization_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to have everything automatically categorized?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yup!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nah, I&apos;ll do it myself</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Introduction_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CardUpdate_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Card__c</objectType>
    </variables>
    <variables>
        <name>CategoryMapping_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Category_Mapping__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
