force-app/main/default/flows/Clone_Swim_Lane.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>CardNew_Assignment</name>
        <label>CardNew Assignment</label>
        <locationX>1041</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>CardNewRecord.Board__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_CreateRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNewRecord.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BoardCard_Loop.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNewRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BoardCard_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNewRecord.X_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BoardCard_Loop.X_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNewRecord.Y_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BoardCard_Loop.Y_Position__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CardNewCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CardNewCollection_Assignment</name>
        <label>CardNewCollection Assignment</label>
        <locationX>1165</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>CardNew_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CardNewRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoardCard_Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Clone Swim Lane {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Swim Lane</label>
    <loops>
        <name>BoardCard_Loop</name>
        <label>BoardCard Loop</label>
        <locationX>905</locationX>
        <locationY>426</locationY>
        <collectionReference>BoardCard_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CardNew_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CardNewCollection_CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LaneBoards_Loop</name>
        <label>LaneBoards Loop</label>
        <locationX>445</locationX>
        <locationY>493</locationY>
        <collectionReference>LaneBoard_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Board_CreateRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GotoLane_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Board_CreateRecord</name>
        <label>Board CreateRecord</label>
        <locationX>610</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>BoardCard_GetRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_Image__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Background_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructions__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lane__c</field>
            <value>
                <elementReference>Lane_CreateRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LaneBoards_Loop.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Objective__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prerequisites__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Prerequisites__c</elementReference>
            </value>
        </inputAssignments>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CardNewCollection_CreateRecords</name>
        <label>CardNewCollection CreateRecords</label>
        <locationX>905</locationX>
        <locationY>658</locationY>
        <connector>
            <targetReference>LaneBoards_Loop</targetReference>
        </connector>
        <inputReference>CardNew_RecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Lane_CreateRecord</name>
        <label>Lane CreateRecord</label>
        <locationX>177</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>LaneBoard_GetRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Lane_GetRecord.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Public__c</field>
            <value>
                <elementReference>Lane_GetRecord.Is_Public__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Template__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LaneName_InputText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lane__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>BoardCard_GetRecords</name>
        <label>BoardCard GetRecords</label>
        <locationX>772</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BoardCard_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaneBoards_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lane_GetRecord</name>
        <label>Lane GetRecord</label>
        <locationX>176</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LaneName_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LaneBoard_GetRecords</name>
        <label>LaneBoard GetRecords</label>
        <locationX>323</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LaneBoards_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lane_GetRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>GotoLane_Screen</name>
        <label>GotoLane Screen</label>
        <locationX>443</locationX>
        <locationY>652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GotoLane_DisplayText</name>
            <fieldText>&lt;p&gt;Open your new &lt;a href=&quot;/{!Lane_CreateRecord}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Swim Lane&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LaneName_Screen</name>
        <label>LaneName Screen</label>
        <locationX>177</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lane_CreateRecord</targetReference>
        </connector>
        <fields>
            <name>LaneName_InputText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Lane_GetRecord.Name</elementReference>
            </defaultValue>
            <fieldText>What would you like to name this swim lane?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lane_GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CardNew_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Card__c</objectType>
    </variables>
    <variables>
        <name>CardNewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Card__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
