force-app/main/default/flows/Clone_Board.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>BoardsAfter_Assignment</name>
        <label>BoardsAfter Assignment</label>
        <locationX>334</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>BoardsAfter_Loop.Order__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoardsAfterCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BoardsAfterCollection_Assignment</name>
        <label>BoardsAfterCollection Assignment</label>
        <locationX>464</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>BoardsAfter_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BoardsAfter_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BoardsAfter_Loop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>BoardOrderIncrement_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Board_GetRecord.Order__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Clone Board {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Board</label>
    <loops>
        <name>BoardsAfter_Loop</name>
        <label>BoardsAfter Loop</label>
        <locationX>176</locationX>
        <locationY>844</locationY>
        <collectionReference>BoardsAfter_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BoardsAfter_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BoardsAfter_UpdateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Board_CreateRecord</name>
        <label>Board CreateRecord</label>
        <locationX>176</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>BoardsAfter_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_Image__c</field>
            <value>
                <elementReference>Board_GetRecord.Background_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Board_GetRecord.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructions__c</field>
            <value>
                <elementReference>Board_GetRecord.Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lane__c</field>
            <value>
                <elementReference>Board_GetRecord.Lane__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BoardName_DisplayText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>Board_GetRecord.Objective__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>BoardOrderIncrement_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prerequisites__c</field>
            <value>
                <elementReference>Board_GetRecord.Prerequisites__c</elementReference>
            </value>
        </inputAssignments>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Board_GetRecord</name>
        <label>Board GetRecord</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BoardName_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BoardsAfter_GetRecords</name>
        <label>BoardsAfter GetRecords</label>
        <locationX>177</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Board_CreateRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board_GetRecord.Lane__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Board_GetRecord.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BoardsAfter_UpdateRecords</name>
        <label>BoardsAfter UpdateRecords</label>
        <locationX>175</locationX>
        <locationY>1002</locationY>
        <inputReference>BoardsAfter_RecordCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>BoardName_Screen</name>
        <label>BoardName Screen</label>
        <locationX>176</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BoardsAfter_GetRecords</targetReference>
        </connector>
        <fields>
            <name>BoardName_DisplayText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Board_GetRecord.Name</elementReference>
            </defaultValue>
            <fieldText>What would you like to name this board?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Board_GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BoardsAfter_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Board__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
