force-app/main/default/flows/Clone_Board_from_Swimlane.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <dynamicChoiceSets>
        <name>BoardRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Board__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Clone Board from Swimlane {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Board from Swimlane</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SelectBoard_Screen</name>
        <label>SelectBoard Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CloneBoard_Subflow</targetReference>
        </connector>
        <fields>
            <name>Board_Picklist</name>
            <choiceReferences>BoardRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Board to Clone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectBoard_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CloneBoard_Subflow</name>
        <label>CloneBoard Subflow</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>Clone_Board</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Board_Picklist</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
