force-app/main/default/flows/Clone_Swim_Lane.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>CardNew_Assignment</name>
        <label>CardNew Assignment</label>
        <locationX>572</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>CardNewRecord.Board__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_CreateRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNewRecord.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNewRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNewRecord.X_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.X_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CardNewRecord.Y_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Card_Loop.Y_Position__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CardNewCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CardNewCollection_Assignment</name>
        <label>CardNewCollection Assignment</label>
        <locationX>572</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>CardNew_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CardNewRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Card_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CategoryNew_Assignment</name>
        <label>CategoryNew Assignment</label>
        <locationX>440</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_Record.Board__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_CreateRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryMapping_Loop.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_Record.Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryMapping_Loop.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_Record.Max_X_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryMapping_Loop.Max_X_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_Record.Max_Y_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryMapping_Loop.Max_Y_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_Record.Min_X_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryMapping_Loop.Min_X_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_Record.Min_Y_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryMapping_Loop.Min_Y_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CategoryMapping_Loop.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CategoryNewCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CategoryNewCollection_Assignment</name>
        <label>CategoryNewCollection Assignment</label>
        <locationX>440</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CategoryMappingNew_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CategoryMapping_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetCollection_Assignment</name>
        <label>ResetCollection Assignment</label>
        <locationX>484</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>CardNew_RecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CardNew_RecordCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CategoryMappingNew_RecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CategoryMappingNew_RecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Card_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CategoryMappingClone_Decision</name>
        <label>CategoryMappingClone Decision</label>
        <locationX>484</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>LaneBoards_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CloneMappings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloneCategoryMappings_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CategoryMapping_Loop</targetReference>
            </connector>
            <label>OutcomeIs CloneMappings</label>
        </rules>
    </decisions>
    <interviewLabel>Clone Swim Lane {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Clone Swim Lane</label>
    <loops>
        <name>Card_Loop</name>
        <label>Card Loop</label>
        <locationX>484</locationX>
        <locationY>1238</locationY>
        <collectionReference>Card_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CardNew_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CardNewCollection_CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CategoryMapping_Loop</name>
        <label>CategoryMapping Loop</label>
        <locationX>352</locationX>
        <locationY>1934</locationY>
        <collectionReference>CategoryMapping_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CategoryNew_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CategoryMappingNewCollection_CreateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LaneBoards_Loop</name>
        <label>LaneBoards Loop</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>LaneBoard_GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Board_CreateRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GotoLane_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Board_CreateRecord</name>
        <label>Board CreateRecord</label>
        <locationX>484</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Card_GetRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_Image__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Background_Image__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Board_Template__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Stage__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Design_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instructions__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lane__c</field>
            <value>
                <elementReference>Lane_CreateRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LaneBoards_Loop.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objective__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Objective__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prerequisites__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Prerequisites__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_to_Complete_in_minutes__c</field>
            <value>
                <elementReference>LaneBoards_Loop.Time_to_Complete_in_minutes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CardNewCollection_CreateRecords</name>
        <label>CardNewCollection CreateRecords</label>
        <locationX>484</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>CategoryMappingClone_Decision</targetReference>
        </connector>
        <inputReference>CardNew_RecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CategoryMappingNewCollection_CreateRecords</name>
        <label>CategoryMappingNewCollection CreateRecords</label>
        <locationX>352</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>LaneBoards_Loop</targetReference>
        </connector>
        <inputReference>CategoryMappingNew_RecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Lane_CreateRecord</name>
        <label>Lane CreateRecord</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>LaneBoard_GetRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Lane_GetRecord.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Public__c</field>
            <value>
                <elementReference>Lane_GetRecord.Is_Public__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Template__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LaneName_InputText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lane__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Card_GetRecords</name>
        <label>Card GetRecords</label>
        <locationX>484</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CategoryMapping_GetRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaneBoards_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CategoryMapping_GetRecords</name>
        <label>CategoryMapping GetRecords</label>
        <locationX>484</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResetCollection_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LaneBoards_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Category_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lane_GetRecord</name>
        <label>Lane GetRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LaneName_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LaneBoard_GetRecords</name>
        <label>LaneBoard GetRecords</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LaneBoards_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lane_GetRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>GotoLane_Screen</name>
        <label>GotoLane Screen</label>
        <locationX>176</locationX>
        <locationY>2702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GotoLane_DisplayText</name>
            <fieldText>&lt;p&gt;Open your new &lt;a href=&quot;/{!Lane_CreateRecord}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Swim Lane&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LaneName_Screen</name>
        <label>LaneName Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lane_CreateRecord</targetReference>
        </connector>
        <fields>
            <name>LaneName_InputText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Lane_GetRecord.Name</elementReference>
            </defaultValue>
            <fieldText>What would you like to name this swim lane?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LaneName_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LaneName_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CloneCategoryMappings_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Clone Category Mappings?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yup</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Nope</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>LaneName_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CloneCategoryMappings_DisplayText</name>
                    <fieldText>&lt;p&gt;Category Mappings let you easily categorize cards by color and position. Kickboard will use this template&apos;s mappings by default. As well, you can always manually categorize.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Clone &lt;i&gt;only&lt;/i&gt; if you need fine-tuned control.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lane_GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CardNew_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Card__c</objectType>
    </variables>
    <variables>
        <name>CardNewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Card__c</objectType>
    </variables>
    <variables>
        <name>CategoryMappingNew_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Category_Mapping__c</objectType>
    </variables>
    <variables>
        <name>CategoryMappingNew_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Category_Mapping__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
