force-app/main/default/flows/Clone_Board.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <isTemplate>true</isTemplate>
    <assignments>
        <name>BoardNew_Assignment</name>
        <label>BoardNew Assignment</label>
        <locationX>180</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>BoardNew.Background_Image__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Background_Image__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Design_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Design_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Lane__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Lane__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BoardName_InputText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Objective__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardNew.Prerequisites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_GetRecord.Prerequisites__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementOrder_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementOrder_Assignment</name>
        <label>IncrementOrder Assignment</label>
        <locationX>180</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>BoardNew.Order__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CategoryMapping_GetRecords</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>BoardOrderIncrement_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Board_GetRecord.Order__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Clone Board {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Board</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Board_GetRecord</name>
        <label>Board GetRecord</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BoardName_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Board__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CategoryMapping_GetRecords</name>
        <label>CategoryMapping GetRecords</label>
        <locationX>180</locationX>
        <locationY>952</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddABoardToSwimLane_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Board__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board_GetRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Category_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>BoardName_Screen</name>
        <label>BoardName Screen</label>
        <locationX>176</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>BoardNew_Assignment</targetReference>
        </connector>
        <fields>
            <name>BoardName_InputText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Board_GetRecord.Name</elementReference>
            </defaultValue>
            <fieldText>What would you like to name this board?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Board_GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AddABoardToSwimLane_Subflow</name>
        <label>AddABoardToSwimLane Subflow</label>
        <locationX>180</locationX>
        <locationY>1136</locationY>
        <flowName>Add_A_Board_to_Swim_Lane</flowName>
        <inputAssignments>
            <name>Board</name>
            <value>
                <elementReference>BoardNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CategoryMappings</name>
            <value>
                <elementReference>CategoryMapping_GetRecords</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BoardNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Board__c</objectType>
    </variables>
    <variables>
        <name>BoardsAfter_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Board__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
