force-app/main/default/flows/Community_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>KickboardSeettingCommunity_Assignment</name>
        <label>KickboardSeettingCommunity Assignment</label>
        <locationX>1660</locationX>
        <locationY>1050</locationY>
        <assignmentItems>
            <assignToReference>KickboardSettings_GetRecord.Community_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://{!Domain_GetRecord.Domain}{!SiteUrlPathPrefix}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KickboardSettingGuest_UpdateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KickboardSettingGuest_Assignment</name>
        <label>KickboardSettingGuest Assignment</label>
        <locationX>1653</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>KickboardSettings_GetRecord.Guest_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://{!Domain_GetRecord.Domain}{!SiteUrlPathPrefix}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KickboardSettingGuest_UpdateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SiteUrlPrefixAddSlash_Assignment</name>
        <label>SiteUrlPrefixAddSlash Assignment</label>
        <locationX>781</locationX>
        <locationY>962</locationY>
        <assignmentItems>
            <assignToReference>SiteUrlPathPrefix</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!SiteUrlPathPrefix}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DomainSite_GetRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CommunitySite_Choice</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CommunitySite</stringValue>
        </value>
    </choices>
    <choices>
        <name>GuestSite_Choice</name>
        <choiceText>Guest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GuestSite</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CanAccessSite_Decision</name>
        <label>CanAccessSite Decision</label>
        <locationX>1235</locationX>
        <locationY>761</locationY>
        <defaultConnector>
            <targetReference>CannotAccessSite_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CanAccessSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanAccessSite_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KickboardSettings_GetRecord</targetReference>
            </connector>
            <label>OutcomeIs CanAccessSite</label>
        </rules>
    </decisions>
    <decisions>
        <name>KickboardSettingCommunity_Decision</name>
        <label>KickboardSettingCommunity Decision</label>
        <locationX>1650</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>KickboardSeettingCommunity_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_KickboardSettingCommunityIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KickboardSettings_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KickboardSettingsCommunity_CreateRecord</targetReference>
            </connector>
            <label>OutcomeIs KickboardSettingCommunityIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>KickboardSettingGuest_Decision</name>
        <label>KickboardSettingGuest Decision</label>
        <locationX>1644</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>KickboardSettingGuest_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_KickboardSettingIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KickboardSettings_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KickboardSettings_CreateRecord</targetReference>
            </connector>
            <label>OutcomeIs KickboardSettingIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>PermissionSetAssignmentGuestExists_Decision</name>
        <label>PermissionSetAssignmentGuestExists Decision</label>
        <locationX>1209</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>PermissionSetAssignment_CreateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_PermissionSetExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetAssigneeGuest_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sharing_Screen</targetReference>
            </connector>
            <label>OutcomeIs PermissionSetExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiteType_Decision</name>
        <label>SiteType Decision</label>
        <locationX>276</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>GuestMember_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_TypeIsGuest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteType_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GuestSite_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GuestPerm_Screen</targetReference>
            </connector>
            <label>OutcomeIs TypeIsGuest</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiteTypeSetting_Decision</name>
        <label>SiteTypeSetting Decision</label>
        <locationX>1525</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>KickboardSettingCommunity_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_GuestSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteType_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GuestSite_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KickboardSettingGuest_Decision</targetReference>
            </connector>
            <label>OutcomeIs GuestSite</label>
        </rules>
    </decisions>
    <decisions>
        <name>UrlPrefix_Decision</name>
        <label>UrlPrefix Decision</label>
        <locationX>692</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>SiteUrlPrefixAddSlash_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_SitePrefixStartsWithSlash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteUrlPathPrefix</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>/</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DomainSite_GetRecord</targetReference>
            </connector>
            <label>OutcomeIs SitePrefixStartsWithSlash</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GuestUser_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Guest</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Site_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SiteType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChatterNetworkPicasso</stringValue>
            </value>
        </filters>
        <object>Site</object>
        <outputAssignments>
            <assignToReference>SiteUrlPathPrefix</assignToReference>
            <field>UrlPathPrefix</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Community Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Community Setup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>KickboardSettings_CreateRecord</name>
        <label>KickboardSettings CreateRecord</label>
        <locationX>1858</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>CustomSetting_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Guest_Url__c</field>
            <value>
                <stringValue>https://{!Domain_GetRecord.Domain}{!SiteUrlPathPrefix}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SetupOwnerId</field>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Kickboard_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>KickboardSettingsCommunity_CreateRecord</name>
        <label>KickboardSettingsCommunity CreateRecord</label>
        <locationX>1859</locationX>
        <locationY>864</locationY>
        <connector>
            <targetReference>CustomSetting_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Community_Url__c</field>
            <value>
                <stringValue>https://{!Domain_GetRecord.Domain}{!SiteUrlPathPrefix}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SetupOwnerId</field>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Kickboard_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PermissionSetAssignment_CreateRecord</name>
        <label>PermissionSetAssignment CreateRecord</label>
        <locationX>1011</locationX>
        <locationY>622</locationY>
        <connector>
            <targetReference>Sharing_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Guest_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>GuestPermissionSet_GetRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Domain_GetRecord</name>
        <label>Domain GetRecord</label>
        <locationX>988</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Domain_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DomainSite_GetRecord.DomainId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Domain</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DomainSite_GetRecord</name>
        <label>DomainSite GetRecord</label>
        <locationX>864</locationX>
        <locationY>795</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Domain_GetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SiteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Site_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DomainSite</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GuestPermissionSet_GetRecords</name>
        <label>GuestPermissionSet GetRecords</label>
        <locationX>860</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PermissionSetAssigneeGuest_GetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kickboard_Guest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>KickboardSettings_GetRecord</name>
        <label>KickboardSettings GetRecord</label>
        <locationX>1368</locationX>
        <locationY>761</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SiteTypeSetting_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Kickboard_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PermissionSetAssigneeGuest_GetRecord</name>
        <label>PermissionSetAssigneeGuest GetRecord</label>
        <locationX>1011</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PermissionSetAssignmentGuestExists_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Guest_Picklist</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GuestPermissionSet_GetRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>KickboardSettingGuest_UpdateRecord</name>
        <label>KickboardSettingGuest UpdateRecord</label>
        <locationX>2364</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>CustomSetting_Screen</targetReference>
        </connector>
        <inputReference>KickboardSettings_GetRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Builder_Screen</name>
        <label>Builder Screen</label>
        <locationX>175</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SiteType_Decision</targetReference>
        </connector>
        <fields>
            <name>Step3_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step: Create Swim Lane Pages&lt;/b&gt;&lt;/p&gt;&lt;p&gt;In the builder, create a new page and select object. Search for Swim Lane and select create.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Kickboard_Setup_Screen_NewPage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Kickboard_Setup_Screen_NewPage</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BuilderComunity_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step: Add Whiteboard&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Remove any existing components and drag &lt;b&gt;Whiteboard for Lane&lt;/b&gt; custom component into the content section.&lt;/p&gt;&lt;p&gt;You don&apos;t need to worry about removing components from other pages since this is authenticated user.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Publish your community.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SiteType_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CommunitySite_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BuilderGuest_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step: Add Whiteboard&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Remove any existing components and drag &lt;b&gt;Whiteboard for Lane&lt;/b&gt; custom component into the content section.&lt;/p&gt;&lt;p&gt;As well, remove any components on Swim Lane List, and any Generic pages.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Open &lt;b&gt;settings&lt;/b&gt; and check &lt;b&gt;Public can access the site&lt;/b&gt; and then publish your community.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Open Workspaces of your &lt;a href=&quot;/lightning/setup/SetupNetworks/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;site&lt;/b&gt;&lt;/a&gt;. Open Administration then Preferences and check &lt;b&gt;Give access to public API requests on Chatter&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SiteType_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GuestSite_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Kickboard_Setup_Screen_Settings</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Kickboard_Setup_Screen_Settings</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SiteType_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GuestSite_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CannotAccessSite_Screen</name>
        <label>CannotAccessSite Screen</label>
        <locationX>1243</locationX>
        <locationY>913</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotAccessSite_DisplayText</name>
            <fieldText>&lt;p&gt;Hmm... that&apos;s ok. This will be a couple steps, but it&apos;s not so bad.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Go to setup &amp;gt; digital experiences &amp;gt; all sites and launch the builder of the Kickboard site. Then open up settings. There you should see the url of your site. Copy it. Also, make sure your site is published.&lt;/li&gt;&lt;li&gt;Then go to &lt;a href=&quot;/lightning/setup/CustomMetadata/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Custom Metadata Types&lt;/b&gt;&lt;/a&gt;. Select manage records for &lt;b&gt;Kickboard Setting&lt;/b&gt;. Edit &lt;b&gt;Guest Url &lt;/b&gt;or&lt;b&gt; Community Url &lt;/b&gt;depending on the type of site you are creating.&lt;/li&gt;&lt;li&gt;Paste the url into &lt;b&gt;Value&lt;/b&gt; and save.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CustomSetting_Screen</name>
        <label>CustomSetting Screen</label>
        <locationX>2108</locationX>
        <locationY>773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CustomSetting_DisplayText</name>
            <fieldText>&lt;p&gt;We should have stored this site url&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;https://{!Domain_GetRecord.Domain}{!SiteUrlPathPrefix}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;in Custom Settings. You can confirm by going to &lt;a href=&quot;/lightning/setup/CustomSettings/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Custom Settings&lt;/b&gt;&lt;/a&gt;, select &lt;b&gt;Manage&lt;/b&gt; on Kickboard Settings and see the Default Organization Level Values have this url stored in Guest Url or Community Url depending on the site you are settings up.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Domain_Screen</name>
        <label>Domain Screen</label>
        <locationX>1133</locationX>
        <locationY>759</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CanAccessSite_Decision</targetReference>
        </connector>
        <fields>
            <name>Domain_DisplayText</name>
            <fieldText>&lt;p&gt;Click the link and test that you can access the Site. You&apos;ll go to the homepage and should say &apos;Getting Started&apos;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://{!Domain_GetRecord.Domain}{!SiteUrlPathPrefix}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://{!Domain_GetRecord.Domain}{!SiteUrlPathPrefix}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CanAccessSite_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Did it work?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yup, looks good</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Uh... I think something is wrong.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GuestMember_Screen</name>
        <label>GuestMember Screen</label>
        <locationX>283</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sharing_Screen</targetReference>
        </connector>
        <fields>
            <name>StepKickboardMember_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step: Add Kickboard Guest as a Member&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Let&apos;s set it up so that when a community user is assigned the &lt;b&gt;Kickboard Guest&lt;/b&gt; permission set, they will automatically added as a member to this site.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Open workspace for you &lt;a href=&quot;/lightning/setup/SetupNetworks/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;site&lt;/b&gt;&lt;/a&gt;. Then open Administration &amp;gt; Members and add the Kickboard_Guest permission set. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GuestPerm_Screen</name>
        <label>GuestPerm Screen</label>
        <locationX>409</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GuestPermissionSet_GetRecords</targetReference>
        </connector>
        <fields>
            <name>GuestPerm_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step: Assign Permissions to Guest User&lt;/b&gt;&lt;/p&gt;&lt;p&gt;For a public site, a guest user is created. Now, we are going to assign the appropriate permissions to allow a guest user to see Swim Lanes. If there are multiple guest users, select the one that looks like was created for your site. If you named your site Kickboard, the name of the guest will contain Kickboard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Guest_Picklist</name>
            <choiceReferences>GuestUser_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Guest Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>175</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Builder_Screen</targetReference>
        </connector>
        <fields>
            <name>Intro_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step: Enabled Digital Experiences&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Ensure &lt;b&gt;digital experience&lt;/b&gt; is enabled in your org.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Step: Create a Kickboard Site&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Create a new &lt;a href=&quot;/lightning/setup/SetupNetworks/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Site&lt;/b&gt;&lt;/a&gt; called &lt;b&gt;Kickboard&lt;/b&gt;, select build your own. Select authenticated if that&apos;s an option,&lt;b&gt; &lt;/b&gt;and then launch the builder.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Clicking next will be guide you through the following steps.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Configuring a page for Swim Lanes&lt;/li&gt;&lt;li&gt;Make the site public and publish&lt;/li&gt;&lt;li&gt;Assigning Permissions to the Site&apos;s Guest User&lt;/li&gt;&lt;li&gt;Create a sharing rule to share public Swim Lanes to the Site&apos;s Guest User&lt;/li&gt;&lt;li&gt;Saving the Site domain into a custom setting so emails to folks invited to a swim lane include a direct link.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sharing_Screen</name>
        <label>Sharing Screen</label>
        <locationX>555</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Site_Screen</targetReference>
        </connector>
        <fields>
            <name>Sharing_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step: Create Sharing Rules&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Now, a sharing rule needs to be created to share public swim lanes to the guest user. This allows you to have some swim lanes shared externally and some for private user.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Go to &lt;a href=&quot;/lightning/setup/SecuritySharing/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Sharing Setting&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Scroll down to &lt;b&gt;Swim Lane &lt;/b&gt;to enter sharing rules.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter the following to share templates with all internal users.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Name: &lt;b&gt;Kickboard Template&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Rule Type: &lt;b&gt;Based on Criteria&lt;/b&gt;,&lt;b&gt; &lt;/b&gt;&lt;/li&gt;&lt;li&gt;Criteria: &lt;b&gt;Is Template = TRUE&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Share with public group All Internal Users as Read Only and save.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GuestShare_DisplayText</name>
            <fieldText>&lt;p&gt;Enter the following to share Swim Lanes marked public with guest user.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Name: &lt;b&gt;Kickboard Guest&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Rule Type: &lt;b&gt;Guest user access, based on criteria&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Criteria: &lt;b&gt;Is Public = TRUE&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Make sure it&apos;s sharing read only to the Kickboard Guest User and save.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SiteType_Picklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GuestSite_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Site_Screen</name>
        <label>Site Screen</label>
        <locationX>556</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UrlPrefix_Decision</targetReference>
        </connector>
        <fields>
            <name>Site_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step: Save Community URL In Settings&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Now, we are going to save the community url in settings so when users are added to a Swim Lane, they are directed to the right site. Select the appropriate Site. It should says Kickboard if you named your site Kickboard.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site_Picklist</name>
            <choiceReferences>Site_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Site Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SiteType_Screen</name>
        <label>SiteType Screen</label>
        <locationX>174</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Intro_Screen</targetReference>
        </connector>
        <fields>
            <name>SiteType_DisplayText</name>
            <fieldText>&lt;p&gt;You can set up 2 types of sites.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Guest&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You can setup Kickboard so that external people can collaborate by only entering their email and the code assigned to a swim lane. Ideal for occasional ad-hoc use. This involves creating a public facing site.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Keep in mind, as unlikely as it is, someone that knows a Swim Lane url, an associated email address, and the code can access the contents of a Swim Lane.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Community&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If you have users with community licenses, they login with their credentials and access Swim Lanes that are shared with them. Perfect for repeat usage and better experiences overall. The steps here are for Community Plus licenses. If you want to given access to Community or High-Volume users, you can follow the same steps, but then will have to&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Create Contact Lookup fields on Swim Lane object.&lt;/li&gt;&lt;li&gt;Create a sharing set to share with contacts.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SiteType_Picklist</name>
            <choiceReferences>CommunitySite_Choice</choiceReferences>
            <choiceReferences>GuestSite_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of site would you like to setup?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Setup_DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;With either type, there are a few steps but you will also learn how to set up a digital experience site in process&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>48</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>SiteType_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SiteUrlPathPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
