force-app/main/default/flows/Get_Started.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>LoadTemplate_Choice</name>
        <choiceText>Load Templates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TEMPLATE</stringValue>
        </value>
    </choices>
    <choices>
        <name>SetupCommunity_Choice</name>
        <choiceText>Setup a Kickboard Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SITE</stringValue>
        </value>
    </choices>
    <choices>
        <name>TipsAndTricks_Choice</name>
        <choiceText>Learn Tips and Tricks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tips and Tricks</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Decision</name>
        <label>Action Decision</label>
        <locationX>167</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SetupCommunity_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommunitySetup_Subflow</targetReference>
            </connector>
            <label>OutcomeIs Site</label>
        </rules>
        <rules>
            <name>OutcomeIs_TipsAndTricks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipsAndTricks_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TipsAndTricks_Subflow</targetReference>
            </connector>
            <label>OutcomeIs TipsAndTricks</label>
        </rules>
        <rules>
            <name>OutcomeIs_LoadTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoadTemplate_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectATemplate_Subflow</targetReference>
            </connector>
            <label>OutcomeIs LoadTemplate</label>
        </rules>
    </decisions>
    <interviewLabel>Get Started {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Get Started</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Action_Screen</name>
        <label>Action Screen</label>
        <locationX>175</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Decision</targetReference>
        </connector>
        <fields>
            <name>GetStarted_DisplayText</name>
            <fieldText
            >&lt;p&gt;&lt;b&gt;To get started&lt;/b&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;b&gt;Load Templates&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Setup a Kickboard Site&lt;/b&gt; if you want to invite external collaborators (there&apos;s a few steps but you&apos;ll learn about digital experiences along the way)&lt;/li&gt;&lt;li&gt;&lt;b&gt;Learn Tips and Tricks&lt;/b&gt;.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Picklist</name>
            <choiceReferences>SetupCommunity_Choice</choiceReferences>
            <choiceReferences>LoadTemplate_Choice</choiceReferences>
            <choiceReferences>TipsAndTricks_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CommunitySetup_Subflow</name>
        <label>CommunitySetup Subflow</label>
        <locationX>306</locationX>
        <locationY>422</locationY>
        <flowName>Community_Setup</flowName>
    </subflows>
    <subflows>
        <name>SelectATemplate_Subflow</name>
        <label>SelectATemplate Subflow</label>
        <locationX>40</locationX>
        <locationY>429</locationY>
        <flowName>Select_a_Template</flowName>
    </subflows>
    <subflows>
        <name>TipsAndTricks_Subflow</name>
        <label>TipsAndTricks Subflow</label>
        <locationX>175</locationX>
        <locationY>535</locationY>
        <flowName>Tips_and_Tricks</flowName>
    </subflows>
</Flow>
