force-app/main/default/flows/Make_Swim_Lane_Public.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <isTemplate>true</isTemplate>
    <decisions>
        <name>MakePublic_Decision</name>
        <label>MakePublic Decision</label>
        <locationX>169</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_MakePublic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Public_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lane_UpdateRecord</targetReference>
            </connector>
            <label>OutcomeIs MakePublic</label>
        </rules>
    </decisions>
    <interviewLabel>Make Swim Lane Public {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Make Swim Lane Public</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Lane_UpdateRecord</name>
        <label>Lane UpdateRecord</label>
        <locationX>360</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>ResetPublicLane_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Public__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lane__c</object>
    </recordUpdates>
    <screens>
        <name>LanePublic_Screen</name>
        <label>LanePublic Screen</label>
        <locationX>176</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MakePublic_Decision</targetReference>
        </connector>
        <fields>
            <name>MakePublic_DisplayText</name>
            <fieldText>&lt;p&gt;By marking this Swim Lane public it will be shared to the Kickboard Site Guest User as long as that sharing rule was created. We will also attempt to set to back to not public in the number of hours you set. This is to ensure it is not unnecessarily shared. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can only increase to 3 hours. More than that will automatically set it back to not public.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Public_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Make this Public?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes please</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nope</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>numberOfHours_Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>How Many Hours?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Public_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LanePublic_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ResetPublicLane_Subflow</name>
        <label>ResetPublicLane Subflow</label>
        <locationX>468</locationX>
        <locationY>332</locationY>
        <flowName>Reset_Public_Lane</flowName>
        <inputAssignments>
            <name>numberOfHours</name>
            <value>
                <elementReference>numberOfHours_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
