force-app/main/default/flows/Modify_Boards.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>AddBoardFromTemplateChoice</name>
        <choiceText>Add a Board from a Template</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add a Board from a Template</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddCardsFromAnotherBoard_Choice</name>
        <choiceText>Add Cards from Another Board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Cards from Another Board</stringValue>
        </value>
    </choices>
    <choices>
        <name>CloneBoard_Choice</name>
        <choiceText>Clone a Board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clone a Board</stringValue>
        </value>
    </choices>
    <choices>
        <name>MoveBoardToAnotherSwimLane_Choice</name>
        <choiceText>Move a Board to Another Swim Lane</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Move a Board to Another Swim Lane</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewBoard_Choice</name>
        <choiceText>New Board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Board</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReorderBoardsChoice</name>
        <choiceText>Reorder Boards</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reorder Boards</stringValue>
        </value>
    </choices>
    <choices>
        <name>UploadImage_Choice</name>
        <choiceText>Upload Your Own Image to a Board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upload Your Own Image to a Board</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Decision</name>
        <label>Action Decision</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_AddCardsFromAnotherBoard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectAction_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddCardsFromAnotherBoard_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCardsFromAnotherBoard_Subflow</targetReference>
            </connector>
            <label>OutcomeIs AddCardsFromAnotherBoard</label>
        </rules>
        <rules>
            <name>OutcomeIs_AddABoardFromATemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectAction_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddBoardFromTemplateChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddBoardFromTemplate_Subflow</targetReference>
            </connector>
            <label>OutcomeIs AddABoardFromATemplate</label>
        </rules>
        <rules>
            <name>OutcomeIs_MoveBoardToAnotherSwimLane</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectAction_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MoveBoardToAnotherSwimLane_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MoveBoardToAnotherSwimLane_Flow</targetReference>
            </connector>
            <label>OutcomeIs MoveBoardToAnotherSwimLane</label>
        </rules>
        <rules>
            <name>OutcomeIs_ReorderBoards</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectAction_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReorderBoardsChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReorderBoards_Subflow</targetReference>
            </connector>
            <label>OutcomeIs ReorderBoards</label>
        </rules>
        <rules>
            <name>OutcomeIs_UploadYourOwnImage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectAction_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UploadImage_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UploadImage_Subflow</targetReference>
            </connector>
            <label>OutcomeIs UploadYourOwnImage</label>
        </rules>
        <rules>
            <name>OutcomeIs_CloneBoard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectAction_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CloneBoard_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloneBoardFromSwimLane_Subflow</targetReference>
            </connector>
            <label>OutcomeIs CloneBoard</label>
        </rules>
        <rules>
            <name>OutcomeIs_NewBoard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectAction_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NewBoard_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewBoard_Subflow</targetReference>
            </connector>
            <label>OutcomeIs NewBoard</label>
        </rules>
    </decisions>
    <interviewLabel>Modify Boards {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Modify Boards</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Action_Screen</name>
        <label>Action Screen</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Action_Decision</targetReference>
        </connector>
        <fields>
            <name>SelectAction_Picklist</name>
            <choiceReferences>AddCardsFromAnotherBoard_Choice</choiceReferences>
            <choiceReferences>AddBoardFromTemplateChoice</choiceReferences>
            <choiceReferences>MoveBoardToAnotherSwimLane_Choice</choiceReferences>
            <choiceReferences>ReorderBoardsChoice</choiceReferences>
            <choiceReferences>UploadImage_Choice</choiceReferences>
            <choiceReferences>CloneBoard_Choice</choiceReferences>
            <choiceReferences>NewBoard_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Action</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AddBoardFromTemplate_Subflow</name>
        <label>AddBoardFromTemplate Subflow</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <flowName>Add_Board_From_Template</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AddCardsFromAnotherBoard_Subflow</name>
        <label>AddCardsFromAnotherBoard Subflow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <flowName>Add_Cards_From_Another_Board</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CloneBoardFromSwimLane_Subflow</name>
        <label>CloneBoardFromSwimLane Subflow</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <flowName>Clone_Board_from_Swimlane</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>MoveBoardToAnotherSwimLane_Flow</name>
        <label>MoveBoardToAnotherSwimLane Flow</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <flowName>Move_Board_to_Another_Swim_Lane</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>NewBoard_Subflow</name>
        <label>NewBoard Subflow</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <flowName>New_Board_from_Swim_Lane</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ReorderBoards_Subflow</name>
        <label>ReorderBoards Subflow</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <flowName>Reorder_Boards</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UploadImage_Subflow</name>
        <label>UploadImage Subflow</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <flowName>Upload_Image</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
