force-app/main/default/flows/Remove_User_from_Swim_Lane.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <isTemplate>true</isTemplate>
    <decisions>
        <name>RemoveAnotherUser_Decision</name>
        <label>RemoveAnotherUser Decision</label>
        <locationX>640</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_RemoveAnotherUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemoveAnotherUser_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveUser_Screen</targetReference>
            </connector>
            <label>OutcomeIs RemoveAnotherUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserIsInternal_Decision</name>
        <label>UserIsInternal Decision</label>
        <locationX>168</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SwimLaneUser_DeleteRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_UserIsInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SwimLaneShare_DeleteRecord</targetReference>
            </connector>
            <label>OutcomeIs UserIsInternal</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SwimLaneUserRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Email__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lane_User__c</object>
        <outputAssignments>
            <assignToReference>SelectedUserId</assignToReference>
            <field>User__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Remove User from Swim Lane {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove User from Swim Lane</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>SwimLaneShare_DeleteRecord</name>
        <label>SwimLaneShare DeleteRecord</label>
        <locationX>353</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>SwimLaneUser_DeleteRecord</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <object>Lane__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>SwimLaneUser_DeleteRecord</name>
        <label>SwimLaneUser DeleteRecord</label>
        <locationX>499</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>RemoveAnotherUser_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SwimLaneUser_Picklist</elementReference>
            </value>
        </filters>
        <object>Lane_User__c</object>
    </recordDeletes>
    <screens>
        <name>RemoveAnotherUser_Screen</name>
        <label>RemoveAnotherUser Screen</label>
        <locationX>654</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RemoveAnotherUser_Decision</targetReference>
        </connector>
        <fields>
            <name>RemoveAnotherUser_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Remove another user?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yep</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nope, I&apos;m done</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RemoveUser_Screen</name>
        <label>RemoveUser Screen</label>
        <locationX>176</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UserIsInternal_Decision</targetReference>
        </connector>
        <fields>
            <name>SwimLaneUser_Picklist</name>
            <choiceReferences>SwimLaneUserRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which User would you like to remove?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RemoveUser_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
