force-app/main/default/flows/Reorder_Boards.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <isTemplate>true</isTemplate>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>NewBoard_Assignment</name>
        <label>NewBoard Assignment</label>
        <locationX>945</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>NewBoard.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Board_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBoard.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBoard.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedBoardName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoardId_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Board_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewBoardCollection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewBoardCollection_Assignment</name>
        <label>NewBoardCollection Assignment</label>
        <locationX>945</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>NewBoard_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewBoard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetBoardText_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewBoardCollectionTextTemplate_Assignment</name>
        <label>NewBoardCollectionTextTemplate Assignment</label>
        <locationX>626</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>BoardText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Board_TextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReorderBoard_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetBoardText_Assignment</name>
        <label>ResetBoardText Assignment</label>
        <locationX>793</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>BoardText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReorderBoard_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BoardId_Decision</name>
        <label>BoardId Decision</label>
        <locationX>613</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>NewBoard_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CollectionContainsBoardId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BoardId_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Board_Picklist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectBoard_Screen</targetReference>
            </connector>
            <label>OutcomeIs CollectionContainsBoardId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Save_Decision</name>
        <label>Save Decision</label>
        <locationX>612</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>BoardId_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_SaveBoards</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Save_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewBoardCollection_UpdateRecords</targetReference>
            </connector>
            <label>OutcomeIs SaveBoards</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Board_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Board__c</object>
        <outputAssignments>
            <assignToReference>SelectedBoardName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Reorder Boards {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reorder Boards</label>
    <loops>
        <name>ReorderBoard_Loop</name>
        <label>ReorderBoard Loop</label>
        <locationX>621</locationX>
        <locationY>536</locationY>
        <collectionReference>NewBoard_RecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NewBoardCollectionTextTemplate_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SelectBoard_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>NewBoardCollection_UpdateRecords</name>
        <label>NewBoardCollection UpdateRecords</label>
        <locationX>824</locationX>
        <locationY>302</locationY>
        <inputReference>NewBoard_RecordCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>SelectBoard_Screen</name>
        <label>SelectBoard Screen</label>
        <locationX>176</locationX>
        <locationY>306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Decision</targetReference>
        </connector>
        <fields>
            <name>ReorderBoards_DisplayText</name>
            <fieldText>&lt;p&gt;Select the boards in the order you would like. When finished, check the save toggle and click next. Keep in mind, only the boards you select will be saved. The rest will not be updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectBoard_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectBoard_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Board_Picklist</name>
                    <choiceReferences>Board_RecordChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select a Board</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Save_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Save</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes, Save It!</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Not Yet</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectBoard_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentBoardList_DisplayTest</name>
                    <fieldText>&lt;p&gt;{!BoardText}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SelectBoard_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Board_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ReorderBoard_Loop.Order__c}: &lt;/span&gt;&lt;b&gt;{!ReorderBoard_Loop.Name}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BoardId_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BoardText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewBoard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Board__c</objectType>
    </variables>
    <variables>
        <name>NewBoard_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Board__c</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedBoardName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
