force-app/main/default/flows/Select_a_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateSwimLaneTemplate_Action</name>
        <label>CreateSwimLaneTemplate Action</label>
        <locationX>176</locationX>
        <locationY>359</locationY>
        <actionName>KickboardDataInitCtrl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>staticResources</name>
            <value>
                <elementReference>Template_Picklist</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>LoadTemplateVisionForSuccessChoice</name>
        <choiceText>Create a Vision for Success</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kickboard_data_create_a_vision</stringValue>
        </value>
    </choices>
    <interviewLabel>Select a Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select a Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SelectTemplate_Screen</name>
        <label>SelectTemplate Screen</label>
        <locationX>176</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateSwimLaneTemplate_Action</targetReference>
        </connector>
        <fields>
            <name>Template_Picklist</name>
            <choiceReferences>LoadTemplateVisionForSuccessChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a template to Load</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SelectTemplate_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
