force-app/main/default/flows/Send_Email_to_Lane_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CanSendEmail_Decision</name>
        <label>CanSendEmail Decision</label>
        <locationX>169</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>SendEmailToUserAction_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_ExternalUserButNoCommunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KickboardSetting_GetRecord.Guest_Url__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CannotActivate_Screen</targetReference>
            </connector>
            <label>OutcomeIs ExternalUserButNoCommunity</label>
        </rules>
        <rules>
            <name>OutcomeIs_CommunityUserButNoCommunity</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>User_GetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_GetRecord.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_GetRecord.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerCustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_GetRecord.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KickboardSetting_GetRecord.Community_Url__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CannotActivate_Screen</targetReference>
            </connector>
            <label>OutcomeIs CommunityUserButNoCommunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendAnotherEmail_Decision</name>
        <label>SendAnotherEmail Decision</label>
        <locationX>453</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_SendAnotherEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendAnotherEmail_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SwimLaneUserSelect_Screen</targetReference>
            </connector>
            <label>OutcomeIs SendAnotherEmail</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SwimLaneUser_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Email__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lane_User__c</object>
        <outputAssignments>
            <assignToReference>SelectedUserId</assignToReference>
            <field>User__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Send Email to Lane User {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Send Email to Lane User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>KickboardSetting_GetRecord</name>
        <label>KickboardSetting GetRecord</label>
        <locationX>179</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CanSendEmail_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Kickboard_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_GetRecord</name>
        <label>User GetRecord</label>
        <locationX>177</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KickboardSetting_GetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CannotActivate_Screen</name>
        <label>CannotActivate Screen</label>
        <locationX>52</locationX>
        <locationY>764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotActivate_DisplayText</name>
            <fieldText>&lt;p&gt;Well... we can&apos;t activate this type of user because a community is not setup. Ask your Kickboard Admin if a community can be setup.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SendAnotherEmail_Screen</name>
        <label>SendAnotherEmail Screen</label>
        <locationX>461</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendAnotherEmail_Decision</targetReference>
        </connector>
        <fields>
            <name>SendAnotherEmail_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send Another Email?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nah</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SwimLaneUserSelect_Screen</name>
        <label>SwimLaneUserSelect Screen</label>
        <locationX>178</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_GetRecord</targetReference>
        </connector>
        <fields>
            <name>SwimLaneUser_Picklist</name>
            <choiceReferences>SwimLaneUser_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InactiveUser_DisplayText</name>
            <fieldText>&lt;p&gt;If you don&apos;t see a user in this list, it&apos;s likely they are not active. Activate the user first.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomMessage_InputText</name>
            <dataType>String</dataType>
            <fieldText>Add a custom message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SwimLaneUserSelect_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SendEmailToUserAction_Subflow</name>
        <label>SendEmailToUserAction Subflow</label>
        <locationX>462</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>SendAnotherEmail_Screen</targetReference>
        </connector>
        <flowName>Send_Email_to_User_Action</flowName>
        <inputAssignments>
            <name>customMessage</name>
            <value>
                <elementReference>CustomMessage_InputText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>SwimLaneUser_Picklist</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
