force-app/main/default/flows/Send_Email_to_Lane_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <isTemplate>true</isTemplate>
    <actionCalls>
        <name>ExternalUser_SendEmail</name>
        <label>ExternalUser SendEmail</label>
        <locationX>11</locationX>
        <locationY>650</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendAnotherEmail_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ExternalUser_TextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>LaneUser_GetRecord.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You&apos;ve been invited to collaborate on Kickboard</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>InternalUser_SendEmail</name>
        <label>InternalUser SendEmail</label>
        <locationX>419</locationX>
        <locationY>471</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendAnotherEmail_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InternalUser_TextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>LaneUser_GetRecord.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You&apos;ve been invited to collaborate on Kickboard</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>SendAnotherEmail_Decision</name>
        <label>SendAnotherEmail Decision</label>
        <locationX>627</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_SendAnotherEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendAnotherEmail_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SwimLaneUserSelect_Screen</targetReference>
            </connector>
            <label>OutcomeIs SendAnotherEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserIsInternal_Decision</name>
        <label>UserIsInternal Decision</label>
        <locationX>166</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>KickboardSettings_GetRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_UserIsInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaneUser_GetRecord.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InternalUser_SendEmail</targetReference>
            </connector>
            <label>OutcomeIs UserIsInternal</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SwimLaneUser_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Email__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lane_User__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>BaseUrl_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_520}, FIND(&quot;.com/&quot;,{!$Api.Partner_Server_URL_140})+3)</expression>
    </formulas>
    <interviewLabel>Send Email to Lane User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email to Lane User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>KickboardSettings_GetRecord</name>
        <label>KickboardSettings GetRecord</label>
        <locationX>11</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExternalUser_SendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Kickboard_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LaneUser_GetRecord</name>
        <label>LaneUser GetRecord</label>
        <locationX>177</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserIsInternal_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SwimLaneUser_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SendAnotherEmail_Screen</name>
        <label>SendAnotherEmail Screen</label>
        <locationX>635</locationX>
        <locationY>641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendAnotherEmail_Decision</targetReference>
        </connector>
        <fields>
            <name>SendAnotherEmail_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send Another Email?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nah</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SwimLaneUserSelect_Screen</name>
        <label>SwimLaneUserSelect Screen</label>
        <locationX>178</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LaneUser_GetRecord</targetReference>
        </connector>
        <fields>
            <name>SwimLaneUser_Picklist</name>
            <choiceReferences>SwimLaneUser_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InactiveUser_DisplayText</name>
            <fieldText>&lt;p&gt;If you don&apos;t see a user in this list, it&apos;s likely they are not active. Activate the user first.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SwimLaneUserSelect_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ExternalUser_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey hey, Guess what? You&apos;ve been invited to collaborate in a swim lane by {!$User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!KickboardSettings_GetRecord.Guest_Url__c}/lane/{!LaneUser_GetRecord.Lane__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;{!KickboardSettings_GetRecord.Guest_Url__c}/lane/{!LaneUser_GetRecord.Lane__c}&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The super secret code is &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!LaneUser_GetRecord.Lane__r.Code__c}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Do not share these details with anyone else.&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InternalUser_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey hey, Guess what? You&apos;ve been invited to collaborate in a swim lane by {!$User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!BaseUrl_Formula}/{!LaneUser_GetRecord.Lane__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;{!BaseUrl_Formula}/{!LaneUser_GetRecord.Lane__c}&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
