force-app/main/default/flows/Send_Email_to_User_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CommunityUser_SendEmail</name>
        <label>CommunityUser SendEmail</label>
        <locationX>345</locationX>
        <locationY>848</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CommunityUser_TextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SwimLaneUser_GetRecord.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You&apos;ve been invited to collaborate on Kickboard</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ExternalUser_SendEmail</name>
        <label>ExternalUser SendEmail</label>
        <locationX>180</locationX>
        <locationY>841</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ExernalUserEmail_TextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SwimLaneUser_GetRecord.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You&apos;ve been invited to collaborate on Kickboard</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>InternalUser_SendEmail</name>
        <label>InternalUser SendEmail</label>
        <locationX>587</locationX>
        <locationY>551</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InternalUserEmail_TextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SwimLaneUser_GetRecord.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You&apos;ve been invited to collaborate on Kickboard</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>CommunityIsSetupForCommunityUsers_Decision</name>
        <label>CommunityIsSetupForCommunityUsers Decision</label>
        <locationX>335</locationX>
        <locationY>679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CommunityIsSetupForCommunityUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KickboardSettings_GetRecord.Community_Url__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommunityUser_SendEmail</targetReference>
            </connector>
            <label>OutcomeIs CommunityIsSetupForCommunityUsers</label>
        </rules>
    </decisions>
    <decisions>
        <name>CommunitySetupForExternalUsers_Decision</name>
        <label>CommunitySetupForExternalUsers Decision</label>
        <locationX>170</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_CommunityIsSetupForExternalUsers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KickboardSettings_GetRecord.Guest_Url__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExternalUser_SendEmail</targetReference>
            </connector>
            <label>OutcomeIs CommunityIsSetupForExternalUsers</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserIsInternal_Decision</name>
        <label>UserIsInternal Decision</label>
        <locationX>167</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>CommunitySetupForExternalUsers_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_UserIsInternal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SwimLaneUser_GetRecord.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserType_Decision</targetReference>
            </connector>
            <label>OutcomeIs UserIsInternal</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserType_Decision</name>
        <label>UserType Decision</label>
        <locationX>332</locationX>
        <locationY>553</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_UserIsStandard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SwimLaneUser_GetRecord.User__r.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InternalUser_SendEmail</targetReference>
            </connector>
            <label>OutcomeIs UserIsStandard</label>
        </rules>
        <rules>
            <name>OutcomeIs_UserIsCommunity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SwimLaneUser_GetRecord.User__r.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SwimLaneUser_GetRecord.User__r.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerCustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SwimLaneUser_GetRecord.User__r.Profile.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerSuccess</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommunityIsSetupForCommunityUsers_Decision</targetReference>
            </connector>
            <label>OutcomeIs UserIsCommunity</label>
        </rules>
    </decisions>
    <formulas>
        <name>BaseUrl_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_520}, FIND(&quot;.com/&quot;,{!$Api.Enterprise_Server_URL_520})+3)</expression>
    </formulas>
    <interviewLabel>Send Email to User Action {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Send Email to User Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>KickboardSettings_GetRecord</name>
        <label>KickboardSettings GetRecord</label>
        <locationX>175</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserIsInternal_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SetupOwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Kickboard_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SwimLaneUser_GetRecord</name>
        <label>SwimLaneUser GetRecord</label>
        <locationX>177</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KickboardSettings_GetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lane_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SwimLaneUser_GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CommunityUser_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey hey, Guess what? You&apos;ve been invited to collaborate in a swim lane by {!$User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SwimLaneUser_GetRecord.Lane__r.Name}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!KickboardSettings_GetRecord.Community_Url__c}/lane/{!SwimLaneUser_GetRecord.Lane__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;{!KickboardSettings_GetRecord.Community_Url__c}/lane/{!SwimLaneUser_GetRecord.Lane__c}&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿{!customMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ExernalUserEmail_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey hey, Guess what? You&apos;ve been invited to collaborate in a swim lane by {!$User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SwimLaneUser_GetRecord.Lane__r.Name}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!KickboardSettings_GetRecord.Guest_Url__c}/lane/{!SwimLaneUser_GetRecord.Lane__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;{!KickboardSettings_GetRecord.Guest_Url__c}/lane/{!SwimLaneUser_GetRecord.Lane__c}&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The super secret code is &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!SwimLaneUser_GetRecord.Lane__r.Code__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Do not share these details with anyone else.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!customMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InternalUserEmail_TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey hey, Guess what? You&apos;ve been invited to collaborate in a swim lane by {!$User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$User.LastName}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!SwimLaneUser_GetRecord.Lane__r.Name}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!BaseUrl_Formula}/{!SwimLaneUser_GetRecord.Lane__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;b&gt;{!BaseUrl_Formula}/{!SwimLaneUser_GetRecord.Lane__c}&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!customMessage}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>customMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
