force-app/main/default/flows/Upload_Image.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <isTemplate>true</isTemplate>
    <assignments>
        <name>ContentDocumentLink_Assignment</name>
        <label>ContentDocumentLink Assignment</label>
        <locationX>980</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink_GetRecord.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink_GetRecord.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContentDocumentLink_UpdateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContentDocumentLinkNotShared_Assignment</name>
        <label>ContentDocumentLinkNotShared Assignment</label>
        <locationX>981</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink_GetRecord.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink_GetRecord.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InternalUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContentDocumentLink_UpdateRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CommunityUser_Decision</name>
        <label>CommunityUser Decision</label>
        <locationX>846</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>ContentDocumentLinkNotShared_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeIs_IsCommunityShared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommunityUserAccess_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContentDocumentLink_Assignment</targetReference>
            </connector>
            <label>OutcomeIs IsCommunityShared</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Board_RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lane__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Board__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>BoardImage_Formula</name>
        <dataType>String</dataType>
        <expression>&quot;/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&amp;versionId=&quot;+{!ContentVersion_Loop}+&quot;&amp;operationContext=CHATTER&amp;contentId=&quot;+{!ContentDocumentId_Loop}</expression>
    </formulas>
    <interviewLabel>Upload Image {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Image</label>
    <loops>
        <name>ContentDocumentId_Loop</name>
        <label>ContentDocumentId Loop</label>
        <locationX>321</locationX>
        <locationY>229</locationY>
        <collectionReference>ContentDocumentId_TextCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContentVersion_Loop</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>ContentVersion_Loop</name>
        <label>ContentVersion Loop</label>
        <locationX>465</locationX>
        <locationY>228</locationY>
        <collectionReference>ContentVersionId_TextCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContentDocumentLink_GetRecord</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ContentDocumentLink_GetRecord</name>
        <label>ContentDocumentLink GetRecord</label>
        <locationX>605</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CommunityAccess_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContentDocumentId_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Board_UpdateRecord</name>
        <label>Board UpdateRecord</label>
        <locationX>1476</locationX>
        <locationY>194</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Board_Picklist</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Background_Image__c</field>
            <value>
                <elementReference>BoardImage_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Board__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ContentDocumentLink_UpdateRecord</name>
        <label>ContentDocumentLink UpdateRecord</label>
        <locationX>1224</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>UpdateBoard_Screen</targetReference>
        </connector>
        <inputReference>ContentDocumentLink_GetRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>CommunityAccess_Screen</name>
        <label>CommunityAccess Screen</label>
        <locationX>753</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CommunityUser_Decision</targetReference>
        </connector>
        <fields>
            <name>CommunityUserAccess_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to make this available to Community and Guest Users?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nope</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UpdateBoard_Screen</name>
        <label>UpdateBoard Screen</label>
        <locationX>1354</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Board_UpdateRecord</targetReference>
        </connector>
        <fields>
            <name>UpdateBoard_DisplayText</name>
            <fieldText>&lt;p&gt;Select a board you want to update with this image or hit Finish if you would like to do that later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Board_Picklist</name>
            <choiceReferences>Board_RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Board Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UploadFile_Screen</name>
        <label>UploadFile Screen</label>
        <locationX>175</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContentDocumentId_Loop</targetReference>
        </connector>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentId_TextCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>ContentVersionId_TextCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocumentId_TextCollection</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentVersionId_TextCollection</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>48</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>UploadFile_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentId_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentVersionId_TextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
